.main__box {
  height: 800px;
  display: flex;
}

.main__text {
  margin-top: 243px;
  margin-left: 120px;
  height: 250px;
  width: 50%;

  h4 {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: #82cbac;
  }

  h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.48px;
    color: #2f2f2f;
  }

  p {
    margin-top: 25px;
    line-height: 26px;
    letter-spacing: 0.48px;
    color: #2f2f2f;
  }
}

.main__img-box {
  width: 50%;
}

.icon-box-one {
  z-index: 3;
  position: absolute;
  top: 128px;
  left: -77px;
  display: flex;
  height: 33px;
  width: 105px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;

  img {
    margin: 5px 0 4px 8px;
  }

  div {
    margin-left: 5px;
    span {
      font-weight: 400;
      font-size: 11px;
      line-height: 11px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }

    p {
      font-weight: 400;
      font-size: 9px;
      line-height: 9px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
  }
}

.icon-box-two {
  position: absolute;
  z-index: 4;
  top: 546px;
  left: 45px;
  display: flex;
  height: 55px;
  width: 159px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;

  img {
    height: 41px;
    margin: 7px 0 7px 11px;
  }

  div {
    margin: 10px;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }

    p {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
  }
}

.main__img-box {
  position: relative;

  .img__top {
    z-index: 1;
    position: absolute;
    height: 325px;
    left: -38px;
    top: 113px;
    border-radius: 30px;
  }

  .img__bottom {
    z-index: 2;
    position: absolute;
    height: 410px;
    left: 130px;
    right: 0%;
    top: 213px;
    border-radius: 30px;
  }
}

.main__gallery {
  display: flex;
  height: 152px;

  img {
    height: 152px;
    width: 152px;
  }
}

.article {
  .article__top {
    h2 {
      margin-top: 128px;
      font-weight: 400;
      font-size: 64px;
      line-height: 64px;
      text-align: center;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
    p {
      margin-top: 25px;
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
  }
}

.article__text {
  margin-left: 168px;
  margin-top: 72px;

  .article__link {
    .link-one {
      padding: 11px 60px;
      background: #2f2f2f;
      border: 1px solid #2f2f2f;
      border-radius: 30px;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.48px;
      color: #ffffff;
    }

    a {
      padding: 11px 60px;
      background: #fff;
      border: 1px solid #2f2f2f;
      border-radius: 30px;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
  }
}

.img__info {
  display: flex;
  margin-top: 64px;

  .img__text {
    width: 552px;
    margin-top: 64px;

    h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.48px;
      color: #ff7f96;
    }

    h3 {
      margin-top: 14px;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }

    p {
      width: 477px;
      text-align: start;
      margin-top: 21px;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }
  }
}

.section__page {
  display: flex;
  margin-top: 6rem;
  margin-left: 120px;
  margin-right: 120px;

  .page__img {
    border-radius: 30px;
    height: 450px;
  }

  .page__item {
    margin-top: 50px;
    margin-left: 63px;
    width: 600px;

    span {
      font-size: 35px;
      line-height: 36px;
      letter-spacing: 0.48px;
      text-transform: uppercase;
      color: #2f2f2f;
    }

    h3 {
      margin-top: 7px;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }

    p {
      width: 545px;
      margin-top: 38px;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.48px;
      color: #2f2f2f;
    }

    .btn {
      margin-top: 32px;
      margin-left: 400px;
      display: inline-block;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
      background: #2F2F2F;
      font-size: 15px;
      padding: 12px 30px;
  }
  }
}
