* {
  margin: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fff;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

p {
  font-size: 17px;
  font-weight: 400;
  color: #2f2f2f;
}

li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 17px 120px 0 120px;
  height: 68px;
  background: #fff;
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}
.header .header__logo {
  margin-left: 28px;
}
.header .header__logo img {
  height: 31px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
  align-items: center;
}
.navbar__list li a {
  font-size: 15px;
  color: #222222;
  margin-right: 48px;
}

.nav__icon {
  display: flex;
  align-items: center;
}
.nav__icon .navbar__img {
  align-items: center;
  display: flex;
}
.nav__icon .navbar__img a img {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}

.navbar__btn {
  display: inline-block;
  background: #2f2f2f;
  border-radius: 20px;
  padding: 10px 20px 14px 20px;
  margin-left: 49px;
}
.navbar__btn a {
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

.main__box {
  height: 800px;
  display: flex;
}

.main__text {
  margin-top: 243px;
  margin-left: 120px;
  height: 250px;
  width: 50%;
}
.main__text h4 {
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.48px;
  color: #82cbac;
}
.main__text h1 {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.main__text p {
  margin-top: 25px;
  line-height: 26px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.main__img-box {
  width: 50%;
}

.icon-box-one {
  z-index: 3;
  position: absolute;
  top: 128px;
  left: -77px;
  display: flex;
  height: 33px;
  width: 105px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}
.icon-box-one img {
  margin: 5px 0 4px 8px;
}
.icon-box-one div {
  margin-left: 5px;
}
.icon-box-one div span {
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.icon-box-one div p {
  font-weight: 400;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.icon-box-two {
  position: absolute;
  z-index: 4;
  top: 546px;
  left: 45px;
  display: flex;
  height: 55px;
  width: 159px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px rgba(0, 0, 0, 0.03);
  border-radius: 30px;
}
.icon-box-two img {
  height: 41px;
  margin: 7px 0 7px 11px;
}
.icon-box-two div {
  margin: 10px;
}
.icon-box-two div span {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}
.icon-box-two div p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.48px;
  color: #2f2f2f;
}

.main__img-box {
  position: relative;
}
.main__img-box .img__top {
  z-index: 1;
  position: absolute;
  height: 325px;
  left: -38px;
  top: 113px;
  border-radius: 30px;
}
.main__img-box .img__bottom {
  z-index: 2;
  position: absolute;
  height: 410px;
  left: 130px;
  right: 0%;
  top: 213px;
  border-radius: 30px;
}

.wrapper .main__gallery {
  display: flex;
  height: 152px;
  overflow: hidden;
}
.wrapper .main__gallery img {
  height: 152px;
  width: 152px;
}
.wrapper .article .article__top h2 {
  margin-top: 128px;
  font-size: 64px;
  line-height: 64px;
  text-align: center;
  color: #2f2f2f;
}
.wrapper .article .article__top p {
  margin-top: 25px;
  font-size: 17px;
  line-height: 26px;
  text-align: center;
  color: #2f2f2f;
}

.article__text {
  margin-left: 168px;
  margin-top: 72px;
}
.article__text .article__link .link-one {
  padding: 11px 60px;
  background: #2f2f2f;
  border: 1px solid #2f2f2f;
  border-radius: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
.article__text .article__link a {
  padding: 11px 60px;
  background: #fff;
  border: 1px solid #2f2f2f;
  border-radius: 30px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: #2f2f2f;
}

.img__info {
  display: flex;
  margin-top: 64px;
}
.img__info .img__text {
  width: 552px;
  margin-top: 64px;
}
.img__info .img__text h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.48px;
  color: #ff7f96;
}
.img__info .img__text h3 {
  margin-top: 14px;
  font-size: 36px;
  line-height: 36px;
  color: #2f2f2f;
}
.img__info .img__text p {
  width: 477px;
  text-align: start;
  margin-top: 21px;
  font-size: 20px;
  line-height: 26px;
  color: #2f2f2f;
}

.section__page {
  display: flex;
  margin-top: 6rem;
  margin-left: 120px;
  margin-right: 120px;
}
.section__page .page__img {
  border-radius: 30px;
  height: 450px;
}
.section__page .page__item {
  margin-top: 50px;
  margin-left: 63px;
  width: 600px;
}
.section__page .page__item span {
  font-size: 35px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2f2f2f;
}
.section__page .page__item h3 {
  margin-top: 7px;
  font-size: 48px;
  color: #2f2f2f;
}
.section__page .page__item p {
  width: 545px;
  margin-top: 38px;
  font-size: 18px;
  line-height: 26px;
  color: #2f2f2f;
}
.section__page .page__item .btn {
  margin-top: 32px;
  margin-left: 400px;
  display: inline-block;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background: #2f2f2f;
  font-size: 15px;
  padding: 12px 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
  margin-left: 120px;
  margin-right: 120px;
}
.info .info__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info__box span {
  display: block;
  height: 35px;
  width: 57px;
  padding: 6px 15px;
  background: #82cbac;
  border-radius: 30px;
  color: #fff;
}
.info__box h2 {
  margin-top: 6px;
  font-weight: 700;
  font-size: 35px;
  line-height: 36px;
  color: #2f2f2f;
}
.info__box p {
  margin-top: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2f2f2f;
}

.info__img img {
  height: 596px;
}

.users {
  position: relative;
}
.users .users__box {
  margin-top: 140px;
  height: 456px;
  background-color: #82cbac;
}
.users .users__box h3 {
  display: inline-block;
  margin-top: 75px;
  margin-left: 120px;
  font-size: 64px;
  line-height: 64px;
  color: #2f2f2f;
}
.users .users__box p {
  margin-top: 30px;
  margin-left: 120px;
  font-size: 20px;
  line-height: 26px;
  color: #2f2f2f;
}
.users .users__box .user__btn {
  margin-left: 120px;
  margin-top: 40px;
  width: 205px;
  text-align: center;
  display: block;
  border: none;
  color: #ffffff;
  cursor: pointer;
  background: #2f2f2f;
  font-size: 15px;
  padding: 12px 30px;
}
.users img {
  position: absolute;
  top: -64px;
}

.collections {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}
.collections h2 {
  font-size: 63px;
  line-height: 64px;
  color: #2f2f2f;
}
.collections a {
  display: inline-block;
  margin-top: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background: #2f2f2f;
  padding: 13px 40px;
  color: #ffffff;
}
.collections .collections__page {
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
}
.collections .collections__page .collections__box {
  text-align: center;
}
.collections .collections__page .collections__box img {
  width: 358px;
  height: 221px;
}
.collections .collections__page .collections__box span {
  display: block;
  text-align: start;
  margin-top: 29px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: #2f2f2f;
}

.gallery__bottom {
  margin-top: 95px;
  margin-left: 184px;
  margin-right: 184px;
  text-align: center;
}
.gallery__bottom h2 {
  font-size: 63px;
  line-height: 64px;
  color: #2f2f2f;
}
.gallery__bottom a {
  display: inline-block;
  margin-top: 100px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background: #2f2f2f;
  padding: 13px 40px;
  color: #ffffff;
}

.gallery__bottom__page {
  display: flex;
  margin-top: 25px;
  gap: 38px;
}
.gallery__bottom__page .gallery__page {
  text-align: start;
}
.gallery__bottom__page .gallery__page span {
  display: block;
  margin-top: 27px;
  margin-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2f2f2f;
}

.faq {
  margin-left: 184px;
}
.faq h2 {
  margin-top: 55px;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #2f2f2f;
}
.faq .faq__box {
  position: relative;
  margin-left: 26px;
  margin-top: 74px;
}
.faq .faq__box span {
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #2f2f2f;
}
.faq .faq__box::after {
  content: url(/images/icon-dovn.png);
  position: absolute;
  left: 80%;
  top: 6px;
}/*# sourceMappingURL=main.css.map */